@(listesP: List[tontine.Participant])

@main("Afficher participants") {

  
  <h1>Listes des participants enregistrer :</h1><br>
  
  <table border="1" style=" margin : auto 10%; width : 80%" class="table table-striped table-sm align-middle">
				<center><h4> <b>L</b>istes des participants<br></h4></center>
					<thead class="table-dark">
						 <tr>
							<th style="text-align: center; size: 20px"  scope="col"><b>Numero</b></th>
							<th style="text-align: center"  scope="col"><b>Nom</b></th>
							<th style="text-align: center"  scope="col"><b>Prenom</b></th>
							<th style="text-align: center"  scope="col"><b>Genre</b></th>
							<th style="text-align: center" scope="col"><b>Telephone</b></th>
							<th style="text-align: center"  scope="col"><b>Date de Naissance</b></th>
							<th style="text-align: center"  scope="col"><b>R</b>ole</th>
							<th style="text-align: center" colspan="2"  scope="col"><b>Action</b></th>
						 </tr>
					 </thead>
					 <tbody >
  					@for(p <- listesP){
							 <tr>   
							    <td>@p.getNumP()</td>
								<td>@p.getNom() </td>
								<td>@p.getPrenom() </td>
								<td>@p.getGenre() </td>
								<td>@p.getTelephone() </td>
								<td>@p.getDateNaissance() </td>
								<td>@p.getRole() </td>
								<td> <a  class="btn btn-primary" title="Modification"
									href="@controllers.routes.ParticipantController.modifView(p.getNumP())" >Modification</a>
									|
								<a  class="btn btn-danger" title="Suppression"
									href="@controllers.routes.ParticipantController.deleteP(p.getNumP()) " >Suppression</a>
 								</td>	
							</tr>
  					}
  					</tbody>
  					
  				</table>
  <br>
   						
}
