@(listesT: List[tontine.Tontine])

@main("Afficher tontines") {

  
  <h1>Listes des tontines :</h1><br>
  				<center><h4> <b>L</b>istes des tontines<br></h4></center>
  
  <table border="1" style=" margin : auto 10%; width : 80%" class="table table-striped table-sm align-middle">
					
					<thead class="table-dark">
						 <tr>
							<th style="text-align: center;size: 20px"  scope="col"><b>Numero</b></th>
							<th style="text-align: center"  scope="col"><b>libelle</b></th>
							<th style="text-align: center"  scope="col"><b>Montant Singulier</b></th>
							<th style="text-align: center"  scope="col"><b>Date debut</b></th>
							<th style="text-align: center" scope="col"><b>Date fin</b></th>
							<th style="text-align: center"  scope="col"><b>Nombre de participants</b></th>
							<th style="text-align: center" colspan="2"  scope="col"><b>Action</b></th>
						 </tr>
					 </thead>
					 <tbody >
  					@for(p <- listesT){
							 <tr>
							    <td>@p.getNumT()</td>
								<td>@p.getLibelle() </td>
								<td>@p.getMontantSingulier() </td>
								<td>@p.getDateDeb() </td>
								<td>@p.getDateFin() </td>
								<td>@p.getNbrParticipant() </td>
								<td> <a  class="btn btn-primary" title="Modification"
									href="@controllers.routes.TontineController.modifView(p.getNumT())" >Modification</a>
									|
								<a  class="btn btn-danger" title="Suppression"
									href="@controllers.routes.TontineController.deleteT(p.getNumT()) " >Suppression</a>
 								</td>
 								
							</tr>
  					}
  					</tbody>
  					
  				</table>
  <br>
   						
}
