@import helper._
@(implicit request: Http.Request)

@main("Personnes View"){
 <h1>Formulaire d'ajout personne</h1>
 <br>
 <form method="POST" action="">
 @helper.CSRF.formField
 	<label>Age</label> <input type="number" name="age">
 	<label>Prenom</label> <input type="text" name="prenom">
 	<label>Nom</label> <input type="text" name="name">
 	<br>
 	<button type="submit">Enregistrer</button>
 </form>
 }