@import helper._
@(participant: tontine.Participant)(implicit request:  Http.Request)

@main("Participant View") {
<h1>Modiffier participant</h1>
<br>
<div  style="margin : auto 100px">
<form method="POST" action="@controllers.routes.ParticipantController.updateP()">
	@helper.CSRF.formField
	<input type="hidden" name="id" value="@participant.getNumP()">
	<div class="row" >
			<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12" >
			<label class="form-label">Nom </label> 
			<div class="input-group">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button"><i class="fa fa-address-book-o"></i></button>
	      </span>
		  <input type="text" name="nom" value="@participant.getNom()" class="form-control ">
		</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12" >
			<label class="form-label">Prenom  </label> 
			<div class="input-group">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button"><i class="fa fa-address-book-o"></i></button>
	      </span>
	      <input type="text" name="prenom" class="form-control " value="@participant.getPrenom()">
		</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
			<label class="form-label">Telephone  </label> 
			<div class="input-group">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button"><i class="fa fa-phone"></i></button>
	      </span>
			<input type="text" name="telephone" class="form-control " maxlength="8" value="@participant.getTelephone()">
		</div>
		</div>
	</div>
	<div class="row" >
		<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
			<label class="form-label">DateNaissance </label> <input type="date" name="dateNaissance" class="form-control " value="@participant.getDateNaissance()">
		</div>
		
		<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
		<label class="form-label">Genre</label>
		
		<div class="input-group">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button"><i class="fa fa-mars-stroke"></i></button>
	      </span>
		 <select name="genre" class="form-control"  >
		 	<option value="@participant.getGenre()" ></option>
			<option>M</option>
			<option>F</option>
		</select>
		</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
		<label class="form-label">Role  </label> 
		<select name="role" class="form-control">
		 	<option value="@participant.getRole()"></option>
			<option>Participant</option>
			<option>Gerant</option>
		</select>
		</div>	
	</div>
			<br>
	<div class="row" >		
	   <div class="col-lg-4 col-md-3 col-sm-2 col-xs-0">
	   </div>
	   <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
	      <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
	   </div>
	   <div class="col-lg-4 col-md-3 col-sm-2 col-xs-0">
	   </div>
	</div>
</form>
</div>
  
}

	