@import helper._
@(tont: tontine.Tontine)(implicit request:  Http.Request)

@main("Tontine View") {
<h1>Modiffier tontine</h1>
<br>
<div  style="margin : auto 100px">
<form method="POST" action="@controllers.routes.TontineController.updateT()">
	@helper.CSRF.formField
	<input type="hidden" name="id" value="@tont.getNumT()">
	<div class="row" >
			<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12" >
			<label class="form-label">Libelle </label> 
			<div class="input-group">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button"><i class="fa fa-file-text"></i></i></button>
	      </span>
		  <input type="text" name="libelle" value="@tont.getLibelle()" class="form-control ">
		</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12" >
			<label class="form-label">Montant Singuleir  </label> 
			<div class="input-group">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button"><i class="fa fa-credit-card-alt"></i></button>
	      </span>
	      <input type="number" name="montantSingulier" class="form-control " value="@tont.getMontantSingulier()">
		</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
		<label class="form-label">Nombre de participants</label>
		<div class="input-group">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button"><i class="fa fa-users"></i></button>
	      </span>
		 	<input type="number" name="nbrParticipant" class="form-control " value="@tont.getNbrParticipant">
		</div>
		</div>
	</div>
	<div class="row" >
		<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
			<label class="form-label">Date Fin </label> <input type="date" name="dateDeb" class="form-control " value="@tont.getDateFin()">
		</div>
		<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
			<label class="form-label">Date debut  </label> 
			<input type="date" name="dateFin" class="form-control" maxlength="8" value="@tont.getDateDeb()">
		</div>	
	</div>
			<br>
	<div class="row" >		
	   <div class="col-lg-4 col-md-3 col-sm-2 col-xs-0">
	   </div>
	   <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
	      <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Enregistrer</button>
	   </div>
	   <div class="col-lg-4 col-md-3 col-sm-2 col-xs-0">
	   </div>
	</div>
</form>
</div>
  
}

	